<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Transaction Details</title>
		<link rel="stylesheet" href="{{asset('css/detail.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>

		<div class="main-wrapper">
			<div class="container">
				<div class="product-div">
					<div class="product-div-left">
						<div class="img-container">
							<img src="{{asset('/img/LOGO.jpg')}}" alt="Trading Sarl">
						</div>

					</div>
					<div class="product-div-right">
						<span class="product-name">{{ transaction.DateTransit ? transaction.DateTransit|date('Y-m-d H:i:s') : '' }}</span>
						<span class="product-price">
							Id Transaction :
							{{ transaction.id }}</span>

						<p class="product-description">
							Agent :
							{{ transaction.AgentMatricule}}</p>
						<p class="product-description">
							Fournisseur :{{ transaction.FournisseurMatri}}</p>
						<p class="product-description">
							Clien Name :{{ transaction.Client }}</p>

						<p class="product-description">
							Fourgon :{{ transaction.fourgon }}</p>
						<p class="product-description">
							Remorque :
							{{ transaction.Remorque }}</p>
						<p class="product-description">
							Parking :
							{{ transaction.ParkingMatricule}}</p>
						<p class="product-description">
							Montant :{{ transaction.Montant }}
							MAD</p>
						<p class="product-description">
							Num Dossier :
							{{ transaction.NumDossier }}</p>
						<p class="product-description">
							Num Facture :
							{{ transaction.NumFacture }}</p>

					</div>
				</div>
			</div>
		</div>

		<script src="script.js"></script>
	</body>
</html>
